<div>
    @{
        var s1 = @"
                This is a       string

    thihts
        with irregular   spacing.  

";
    }

       @{
        var s3 = """
                This is a       string

    thihts
        with irregular   spacing.  

""";
    }

        @{
        var s2 = @"
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

";
    }
</div>
