<div @ondragover="@(() => { })" @ondragover:preventDefault
     @ondrop="HandleDrop" @ondrop:preventDefault @ondrop:stopPropagation="StopPropagation"
     @ondragenter="@(() => _counter++)" @ondragleave="@(() => _counter--)"
     style="@ComputedStyle">
    @ChildContent
</div>

@code {
    [Parameter] public EventCallback OnDrop { get; set; }
    [Parameter] public bool StopPropagation { get; set; }
    [Parameter] public string? Style { get; set; }
    [Parameter] public RenderFragment? ChildContent { get; set; }

    private int _counter;

    private string ComputedStyle
    {
        get
        {
            var indicator = _counter > 0 ? "border-top:2px solid var(--accent-fill-rest);" : "";
            return $"min-height:12px;{indicator}{Style}";
        }
    }

    private async Task HandleDrop()
    {
        _counter = 0;
        await OnDrop.InvokeAsync();
    }
}
